<div>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <%= form_for(blog) do |f| %>
    <%= render 'shared/error_messages', resource: blog%>
    <fieldset>
      <legend>Enter blog Details</legend>
      <div class="field">
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title, size: 20 %>
      </div>
      <div class="field">
        <%= f.label :description, 'Description:' %>
        <%= f.text_area :description %>
      </div>
      <div class="field">
      <%= f.fields_for :picture do |p| %>
        <%= p.label :img_url, 'Image URL:' %>
        <%= p.text_area :img_url %>
      <% end %>
      </div>
      <div class="field">
      <%= f.fields_for :tag do |t| %>
        <%= t.label :values, 'Tags:' %>
        <%= t.text_area :values %>
      <% end %>
      </div>
      <div>
        <%= f.submit "Create" %>
      </div>
    </fieldset>
  <% end %>
</div>
