<h1><%= @blog.title %></h1>
<p><h3>Comments</h3>
<% if @comments.present? %>
  <ul>
    <% @comments.each do |comment|%>
      <li><%= comment.post %></li>
      <li>
        <% if @comment.taggings.first.value %>
          <% @comment.taggings.each do |tag| %>
           <%= tag.value %>
          <% end %>
         <% end %>
      </li>
      <% if authorized_user?(comment) %>
        <%= link_to "Edit", edit_blog_comment_path(@blog,comment) %>|
        <%= link_to "Remove", blog_comment_path(@blog,comment), method: :delete, data: { confirm: "Are you sure?"} %>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No comments yet for this blog! </p>
<% end %>
