<% if blogs.present? %>
  <p> Blogs: </p>
  <ul>
    <% blogs.each do |blog| %>
        <li>
          <%= blog.title %>
          <%= link_to 'View', blog %>
        </li>
    <% end %>
  </ul>
<% end %>

<% if comments.present? %>
  <p> Comments: </p>
  <ul>
    <% comments.each do |comment|%>
      <li>
        <%= comment.blog.title %> <%= link_to 'View', comment.blog %> |
        Comment:<%= comment.post %>
      </li>
    <% end %>
  </ul>
<% end %>
